<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <%- include('container', {name: name, names: names, user: user, objectPrototypeAdmin: objectPrototypeAdmin}) %>
</body>

</html>