<!DOCTYPE html>
<html>

<head>
    <title>Source</title>
</head>

<body>
    <h1>Source Code</h1>
    <pre>
<%= include('container', {name: name, user: user, names: names, objectPrototypeAdmin: objectPrototypeAdmin}) %>
</pre>
</body>

</html>